---
const { platform, username } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<a href={`https://www.${platform}.com/${username}`}>
    <img src={`${base}images/${platform}-logo.png`} alt={`Logo de ${platform}`} />
    {platform}
</a>

<style>
    a {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        padding: 0px 50px;
    }
    img {
        width: 50px;
        height: auto;
    }
</style>
